{% extends "otree/Page.html" %}
{% load otree %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'global_style.css' %}">

    <h4>Training Offer</h4>
    <p>Next, you will participate in a brief training exercise designed to help you gain a deeper understanding of the decision-making process. <br>This exercise will not affect your performance review, and there are no costs associated with revealing attributes.</p>

    <div class="form-group required">
        <div class="form-check">
            <input type="radio" name="wants_training" id="id_wants_training_1" value="True" checked style="display:none;">
            <label class="form-check-label" for="id_wants_training_1" style="display:none;"></label>
        </div>
    </div>

    {{ next_button }}

{% endblock %}

