<h3>Employee's Trainings</h3>
<body><br>
After Periods 2, 3 and 4, every employee will complete a training. The three trainings are designed to help employees make better project selection decisions. <br><br>
After completing the training after Period 4, employees will complete two additional periods without further trainings. <br><br>
Each training will focus on different ways on how to improve the project selection. <br><br>

Please note that once an employee took a training, they can revisit this training and its insights during every round. However, each time an employee revisits a training, they will incur a <i>Training Revisit Cost </i> of 100 points. To calculate an employee's <i>Performance</i>, this cost will be subtracted from an employee's <i>Realized Project Value</i> in that round.<br><br>

Each training lasts a minimum of 90 seconds to ensure everyone has enough time to review the material. After 4 minutes on the training, the employee will be asked to proceed to the next period.
<br><br>
Once an employee has finished all periods and has responded to the questionnaire at the end of today’s study, they can enter their bank details for payment and leave.

<br><br>
</body>
