<h3>Employee Feedback</h3>
<body><br>
After an employee has made the project selection, they will receive immediate feedback on the following items:
<br>
<ul>
    <li>The <i>Realized Project Value</i>: Recall that this is the <i>Expected Project Value</i> of the selected project if all <i>Attribute Values </i>had been revealed plus the <i>Noise Term</i>. </li>
    <li>Recall that the <i>Noise Term </i>can be between [-150; +150] points.</li>
    <li>The number of revealed <i>Attribute Values.</i></li>
    <li>The total <i>Reveal Costs</i> equal to the number of revealed <i>Attribute Values</i> multiplied with <i>Reveal Cost</i> of 50 points. </li>
    <li>The <i>Performance</i> for this round equal to the <i>Realized Project Value</i> of the selected project less <i>Total Reveal Costs </i>and <i>Training Revisit Costs.</i> </li>
</ul><br>
</body>
