{% load otree static %}
<h3>Example Task Screen (1)</h3>
<body><br>
Remember that the study consists of six periods in total. Each period has six rounds.<br><br>
Below, please see an example of the decision-making task and explanations of some key elements.<br><br>
Please imagine an employee wants to reveal the <i>Attribute Value</i> for A2 for Project 3. They can do so by clicking on "Reveal" for Project 3.

<br><br>

<img src="{% static 'example/click1.JPG' %}" style="border: 2px solid black;"/>
<br> <br>
</body>
