{% load otree static %}
<h3>Example Task Screen (2)</h3>
<body><br>
Then the <i>Expected Project Value</i> (EV Revealed) per project will automatically update, taking into account the revealed <i>Attribute Value</i>. Please note that the <b>revealed</b> <i>Expected Project Value</i> (EV Revealed) is calculated solely from the <b>revealed</b> <i>Attribute Values. </i>
<br><br>
In this example, the <i>Attribute Value</i> equals 4, resulting in an updated <I>Expected Project Value</I> of 200 points. <br><br> Recall that the <i>Realized Project Value</i> is calculated using <b>all three</b> <i>Attribute Values</i>, including those that are not revealed.
<br><br>
The <i>Reveal Cost</i> also updates each time a new <i>Attribute Value</i> is revealed.

<br><br>
<img src="{% static 'example/click2.JPG' %}" style="border: 2px solid black;"/> <br> <br>
Employees can then reveal additional <i>Attribute Values</i> of all projects. Every time, the <i>Expected Project Value </i> (EV Revealed) will be updated as well as the <i>Reveal Cost</i>. <br><br>
</body>
