<h3>Employee's Performance and Compensation</h3>
<body><br>

Employees will receive a compensation which depends on the <b>sum</b> of employees’ <I>Period Performance</I> over <B>all periods</B>.
<br><br>
An employee’s <I>Performance</I> represents the final performance score of an employee for the task. Specifically, an employee’s Performance equals the selected project’s <i>Realized Project Value</i> less <i>Total Reveal Costs</i> and less <I>Total Training Revisit Costs</I>.
<br><br>
That means, an employee’s <I>Performance</I> in each round is given by:
<br><br>
<I>Performance = Realized Project Value of selected project – Total Reveal Costs – Total Training Revisit Costs</I>
<br><br>
The <I>Performance</I> of each of the six rounds of a period adds up to the employee’s <I>Period Performance</I>.
<br><br>
An employee’s compensation is based on the sum of the employee’s <I>Period Performance</I> over all periods. It will be converted into cash at a rate of 1 € per 3’000 points. This will be added to the 3.00 € participation fee.
<br><br>
This means that the higher the <i>Performance</i> in every round, the higher the compensation employees will receive for today’s study.

<br><br>
</body>
