<h3>Overview</h3>
<body><br>
In this study, participants will act as <b>employees</b> in a decision-making task and will keep this role throughout the entire study.
<br><br>

Your participation will be completed entirely on the computer, and you will be completely anonymous throughout the study.
<br><br>
This study consists of six periods. Each period also consists of six rounds. After period 2, 3 and 4 all employees will participate in a training. The decision-making task lasts approximately 40 minutes. After finishing all periods, you will complete a questionnaire about your experience in the study. Then, you will be asked to provide demographic information. Your responses to all these questions will be anonymous.
<br> <br>
</body>
