<h3>Employee's Task (2)</h3>
<body><br>

<h4>Attribute Values and Weights</h4>

Both the <i>Attribute Values</i> and the <i>Attribute Weights</i> for all projects are unknown to employees at the beginning of every round. However, to determine which project offers the highest <i>Expected Project Value</i>, employees can choose to reveal the <i>Attribute Values</i> of A1, A2, A3 and A4 for each of the five projects.<br><br>

The <i>Attribute Weights (Weight<sub>A1</sub> to Weight<sub>A4</sub>) </i>are also unknown to employees. However, the following rules apply to the <i>Attribute Weights</i>:
<ul>
    <li>All four <i>Attribute Weights (Weight<sub>A1</sub> to Weight<sub>A4</sub>)</i> always add up to 100. </li>
    <li>Every <i>Attribute Weights</i> is at minimum 10 and at maximum 40.</li>
    <li>Every <i>Attribute Weight</i> will remain the same for all six rounds of every period.</li>
    <li>The <i>Attribute Weights </i> will only change between <b>periods</b>. That means, for all six rounds of a new period, the <i>Attribute Weights</i> will have the same value. For the six rounds of a new period, the <I>Attribute Weights</I> will then take on new weights. However, all rules and the logic about the <i>Attribute Weights</i> we have just outlined will apply in all periods.</li>
</ul>

Employees can reveal <i>Attribute Values</i> (A1, A2, A3 and A4) for each project by clicking "Reveal" for any attribute of every project.
<br><br>
<img
    src="{% static 'example/click11.JPG' %}"
    style="border: 2px solid black; max-width: 100%; width: 600px; height: auto;"
/>
<br> <br>
</body>
