{% block title %}
    <h3> Welcome! </h3>
{% endblock %}
{% block content %}
<body><br>

You are about to participate in a study on decision-making in an organizational setting. <B> Please read the instructions carefully. You need to understand these instructions to make money today.</B><br>
In total, this session lasts approximately 40 minutes. <br><br>

We promise to carry out this study in the manner described in the instructions, with no deception of any form.
<br><br><b>You are allowed to use pen/pencil, calculator and paper that we provide during this session. You are prohibited from using a cell phone or a smartwatch.</b>
<br><br>

You will be paid a €3 show-up fee plus any amount you earn during today’s session. You can earn additional income, which will be explained in more detail later. You will be paid via money transfer.

<br><br>

{{ next_button }}
</body>

{% endblock %}

